<html>
	<head>
	<title> Регистрация клиента </title>
	</head>
	<body> 
		<h1> Регистрация клиента </h1>
		<h4> Имя пользователя </h4>
		<h4> Пороль </h4>
		<h4> Подтверждение пороля </h4>
		<h4> E-mail </h4>
		<h4> Фамилия </h4>
		<h4> Имя </h4>
		<h4> Отчество </h4>
		<h4> Страна </h4>
		<h4> Область </h4>
		<h4> Город </h4>
		<h4> Адресс </h4>
		<h4> Телефон </h4>
		<h4> Индекс </h4>
		<h4> Добавить Лого </h4>
		<h4> С правилами сайта согласен </h4>
		<h4> Регистрация </h4>
		<h4> Отмена </h4>
	</body>
</html>